.Intro{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.Dp img{
    width:512px;
    height: 518px;
    border-radius: 50%;
}

.name{
    width:550px;
}
.name h1{
    font-size:40px ;
    margin: 0;
    letter-spacing: 3px;
    color: #292929;
} 
.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    margin-left: 3px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.5s

}
.cv-btn:hover{
    background-color: red;
    cursor: pointer;
}
.smg-btn{
    display: flex;
    margin-top: 18px;

}
@media(max-width:1298px){
    .name{
        width:419px;
    }
    .cv-btn{
        width:110px;
        margin-left: 5px;
        font-size: 12px;
    }
    .name h1{
        font-size: 30px;
    }
    .Dp img{
        width:458px;
        height: 463px;
        border-radius: 50%;
    }
}

@media(max-width:872px){
    .Dp img{
        width:352px;
        height: 368px;
        border-radius: 50%;
    }
    .name {
        width: 584px;
    }
}

@media(max-width:626px){
    .Dp img{
        width:304px;
        height: 312px;
        border-radius: 50%;
    }
    .name {
        width: 440px;
    }
    .name h1{
        font-size: 25px;
    }
}


@media(max-width:483px){
    .Dp img{
        width:268px;
        height: 283px;
        border-radius: 50%;
    }
    .name {
        width: 290px;
    }
    .name h1{
        font-size: 17px;
    }
    .details{
        font-size: 13px;
    }
    .cv-btn{
        width: 96px;
        height: 42px;
    }
}



/* .name{
    width:550px;
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(-20%,-50%);
} 

*/
/* 




@media(max-width:420px){
    .name{
        width:331px;
    }
  
}

@media(max-width:340px){
     .name{
        width: 224px;
     }
     .name h1{
        font-size: 17px;
    }
    .cv-btn{
        width:95px;
        height:30px;
    }
} */
